<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Acta de Nacimiento </title>

    <% include partials/head %>
    <% include partials/menu %>
</head>

<body >
    
</body>


</html>